.register {
    color: rgb(255, 255, 255);
    height: 94vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .cardL {
    width: 80%; 
    max-width: 500px; 
    display: flex;
    background-color: rgb(33, 37, 41);
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;
  }
  
  .up {
    flex: 1;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.67);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  input {
    color: white;
    background-color: rgb(33, 37, 41);
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 15px 10px; 
  }
  
  .registerButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px; 
    border: none;
    background-color: rgb(0, 60, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cardR {
    width: 80%; 
    max-width: 300px; 
    display: flex;
    background-color: rgb(33, 37, 41);
    border-radius: 10px;
    min-height: 150px;
    overflow: hidden;
  }
  
  .down {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    font-size: 15px; 
  }
  
  .loginButton {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(0, 209, 45);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  p {
    font-size: 12px;
    color: rgb(151, 151, 151);
  }

  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .loader {
    margin-bottom: 20px; 
  }
  
  @media screen and (max-width: 768px) {
    .register {
        padding-top: 30px;
      height: auto;
    }
  
    .cardL,
    .cardR {
      width: 100%;
      max-width: none;
    }
  }